* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: gray;
    font-family: fantasy;  
}

h2 {
    color: blue;
    font-family: fantasy;  
}

// first-branch